<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
</head>

<body>
    <h1>Seema Cloth Store</h1>
    <div>
        {% for c in categories%}
        <p>{{c}}</p>

        {%endfor%}
    </div>

    <h2>product table objects.all()</h2>

    <div>
        {% for prr in products%}
        <p>{{prr.product_name}}</p>



        {%endfor%}
    </div>

</body>

</html>